<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>
    <fieldset>
        <legend id="emprego">Dados Pessoais:</legend>
        <form action="" method="get">
            <div class="campo">
                <label for="Nome"><strong>Nome:</strong></label>
                <input type="text" name="Nome" id="Nome"><br>
            </div>
            <div class="campo">
                <label for="Sobrenome"><strong>Sobrenome:</strong></label>
                <input type="text" name="Sobrenome" id="Sobrenome"><br>
            </div>
            <div class="campo">
                <label for="CPF"><strong>CPF:</strong></label>
                <input type="text" name="CPF" id="CPF"><br>
            </div>
    </fieldset>
    <fieldset>
        <legend id="Endereco">Endereço:</legend>
        <div class="campo">
            <label for="Rua:"><strong>Rua:</strong></label>
            <input type="text" name="Rua" id="Rua"><br>
        </div>
        <div class="campo">
            <label for="Bairro"><strong>Bairro:</strong></label>
            <input type="text" name="Bairro" id="Bairro"><br>
        </div>
        <div class="campo">
            <label for="Numero"><strong>Número:</strong></label>
            <input type="text" name="Numero" id="Numero"><br>
        </div>
        <div class="campo">
            <label for="Cidade"><strong>Cidade:</strong></label>
            <input type="text" name="Cidade" id="Cidade"><br>
        </div>
    </fieldset>
    <fieldset>
        <legend id="Dinheiro">Valor:</legend>
        <div class="campo">
            <label for="Valor"><strong>Valor:</strong></label>
            <input type="text" name="Valor" id="Valor" placeholder="R$"><br>
        </div>
    </fieldset>
    </form>
</body>

</html>